@font-face {
	font-family: 'Montserrat';
	src: url('https://sportsdatalive.com/assets/fonts/Montserrat-Regular.ttf');	
}
@font-face {
	font-family: 'RobotoSlab';
	src: url('https://sportsdatalive.com/assets/fonts/RobotoSlab-Regular.ttf');	
}
@font-face {
	font-family: 'RobotoSlabThin';
	src: url('https://sportsdatalive.com/assets/fonts/RobotoSlab-Thin.ttf');	
}

@import "./common/index.scss";
@import "./components/index.scss";
@import "./layouts/index.scss";
@import "./widgets/index.scss";
