.dsgw {
    &-gap-10 {
        gap: 10px;
    }

    &-gap-20 {
        gap: 20px;
    }

    &-text-grey {
        color: $grey;
    }

    &-text-left {
        text-align: left;
    }

    &-text-center {
        text-align: center;
    }

    &-justify-center {
        justify-content: center;
    }

    &-min-w-fill-available {
        min-width: -webkit-fill-available;
    }

    &-g-results {
        width: 100%;
    }
}