.dsgw-n-game-stats.dsgw-widget * {
	font-family: "Montserrat";
	box-sizing: border-box;
}

.dsgw-n-game-stats .dsgw-c-content {
	background: #fff;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	padding: 10px;
	font-size: 16px;
	position: relative;
}

.dsgw-n-game-stats .dsgw-c-teams {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr min(27%, 100px) 1fr;
	align-items: center;
	color: #737373;
	height: 30px;
	font-size: min(3.5vw, 16px);
}

.dsgw-n-game-stats .dsgw-c-teams img {
	width: 25px;
}

.dsgw-n-game-stats .dsgw-c-stat {
	height: 50px;
	display: grid;
	grid-template-columns: 1fr min(27%, 100px) 1fr;
	align-items: center;
}

.dsgw-n-game-stats .dsgw-c-t-label {
	font-size: 11px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.dsgw-n-game-stats .dsgw-c-t-c1,
.dsgw-n-game-stats .dsgw-c-t-c3 {
	height: 100%;
	display: flex;
	align-items: center;
	gap: 10px;
}

.dsgw-n-game-stats .dsgw-c-t-c1 {
	justify-content: end;
}

.dsgw-n-game-stats .dsgw-c-t-away,
.dsgw-n-game-stats .dsgw-c-t-home {
	display: grid;
	grid-template-columns: 1fr;
}

.dsgw-n-game-stats .dsgw-c-t-away {
	justify-items: end;
}

.dsgw-n-game-stats .dsgw-c-t-away .dsgw-c-bar,
.dsgw-n-game-stats .dsgw-c-t-home .dsgw-c-bar {
	width: 100%;
	height: 10px;
	background-color: #eee;
	display: grid;
}

.dsgw-n-game-stats .dsgw-c-t-away .dsgw-c-bar {
	justify-items: end;
}

.dsgw-n-game-stats .dsgw-c-bar>div {
	position: relative;
}

.dsgw-n-game-stats .dsgw-c-bar {
	height: 10px;
}

.dsgw-n-game-stats .dsgw-c-desc {
	height: 25px;
	line-height: 25px;
}

.dsgw-n-game-stats .dsgw-c-t-away .dsgw-c-desc,
.dsgw-n-game-stats .dsgw-c-t-home .dsgw-c-desc {
	font-size: 16px;
}

.dsgw-n-game-stats .dsgw-c-bar>div:before {
	content: "";
	position: absolute;
	height: calc(100% + 6px);
	width: 2px;
	background-color: inherit;
	top: -3px;
}

.dsgw-n-game-stats .dsgw-c-t-away .dsgw-c-bar>div:before {
	left: 0;
}

.dsgw-n-game-stats .dsgw-c-t-home .dsgw-c-bar>div:before {
	right: 0;
}

.dsgw-n-game-stats .dsgw-c-toggle-all {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	gap: 5px;
	cursor: pointer;
}

.dsgw-n-game-stats .dsgw-c-toggle-all span {
	text-decoration: underline;
}

.dsgw-n-game-stats .dsgw-c-toggle-all img {
	height: 15px;
	transition: 0.5s ease-out;
}

.dsgw-n-game-stats .dsgw-c-all-stats {
	height: 0;
	transition: height 0.5s ease-out;
	overflow: hidden;
	position: relative;
	margin-top: 10px;
}

.dsgw-n-game-stats .dsgw-c-group {
	border-bottom: 1px solid #eee;
}

.dsgw-n-game-stats .dsgw-c-s-h,
.dsgw-n-game-stats .dsgw-c-s-r {
	display: grid;
	width: 100%;
	height: 40px;
	align-items: center;
	grid-template-columns: 1fr 50px 50px;
	font-size: 12px;
}

.dsgw-n-game-stats .dsgw-c-s-h img {
	width: 25px;
}

.dsgw-n-game-stats .dsgw-c-s-h {
	border-bottom: 1px solid #eee;
}

.dsgw-n-game-stats .dsgw-c-s-h>div:nth-child(1) {
	font-size: 13px;
	font-weight: bold;
}

.dsgw-n-game-stats .dsgw-c-s-r>div:nth-child(2),
.dsgw-n-game-stats .dsgw-c-s-r>div:nth-child(3) {
	font-weight: bold;
}

.dsgw-n-game-stats .dsgw-c-s-h>div:nth-child(2),
.dsgw-n-game-stats .dsgw-c-s-r>div:nth-child(2),
.dsgw-n-game-stats .dsgw-c-s-h>div:nth-child(3),
.dsgw-n-game-stats .dsgw-c-s-r>div:nth-child(3) {
	display: flex;
	align-items: center;
	justify-content: center;
}

.dsgw-n-game-stats .dsgw-c-group>div:first-child>div:first-child {
	background: linear-gradient(90deg, #0070f0, #01f4f5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;
	font-weight: bold;
}

.dsgw-n-team-leaders.dsgw-mb .dsgw-c-stat {
	min-height: 60px;
	align-items: start;
}

.dsgw-n-game-stats .dsgw-c-bg {
	position: absolute;
	opacity: 0.03;
	left: 0;
	top: 40px;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 10px;
	overflow: hidden;
	justify-items: center;
	align-items: center;
	grid-template-rows: 150px;
	gap: min(27%, 100px);
}

.dsgw-n-game-stats .dsgw-c-bg img {
	max-height: 90%;
	max-width: 90%;
}