.dsgw-n-scoreboard.dsgw-widget * {
	font-family: 'Montserrat';
	box-sizing: border-box;
}

.dsgw-n-scoreboard .dsgw-c-content {
	display: grid;
	grid-template-areas: "away mid home";
	grid-template-columns: 1fr 300px 1fr;
	grid-template-rows: 140px;
}

.dsgw-n-scoreboard .dsgw-c-wrapper {
	display: grid;
	gap: 15px;
}

.dsgw-n-scoreboard .dsgw-c-away .dsgw-c-wrapper {
	border-left: 5px solid transparent;
	grid-template-columns: min-content 1fr;
	padding-left: 10px;
}

.dsgw-n-scoreboard .dsgw-c-home .dsgw-c-wrapper {
	border-right: 5px solid transparent;
	grid-template-columns: 1fr min-content;
	padding-right: 10px;
}

.dsgw-n-scoreboard .dsgw-c-home,
.dsgw-n-scoreboard .dsgw-c-away {
	display: grid;
	align-items: center;
}

.dsgw-n-scoreboard .dsgw-c-home {
	grid-area: home;
}

.dsgw-n-scoreboard .dsgw-c-mid {
	grid-area: mid;
	display: grid;
	justify-content: center;
	white-space: nowrap;
}

.dsgw-n-scoreboard .dsgw-c-away {
	grid-area: away;
}

.dsgw-n-scoreboard .dsgw-c-periods {
	align-content: start;
}

.dsgw-n-scoreboard .dsgw-c-s-final .dsgw-c-periods {
	display: inline-grid;
}

.dsgw-n-scoreboard .dsgw-c-t-img {
	width: min(13vw, 130px);
}

.dsgw-n-scoreboard .dsgw-c-t {
	display: grid;
	align-content: center;
	gap: 3px;
}

.dsgw-n-scoreboard .dsgw-c-home .dsgw-c-t {
	text-align: right;
}

.dsgw-n-scoreboard .dsgw-c-t-n {
	font-family: 'RobotoSlabThin';
	font-size: min(2vw, 36px);
	font-weight: bold;
	line-height: min(2vw, 36px);
}

.dsgw-n-scoreboard .dsgw-c-t-l {
	font-family: 'RobotoSlab';
	font-size: min(2vw, 36px);
	font-weight: bold;
	line-height: min(2vw, 36px);
}

.dsgw-n-scoreboard .dsgw-c-t-f {
	color: #737373;
	font-size: 20px;
	font-style: normal;
}

.dsgw-n-scoreboard .dsgw-c-scores {
	display: inline-grid;
	align-content: start;
	justify-items: center;
}

.dsgw-n-scoreboard .dsgw-c-s-final .dsgw-c-scores {
	display: none;
}

.dsgw-n-scoreboard .dsgw-c-mh {
	background: linear-gradient(90deg, #0070F0 -192.5%, #01F4F5 111.11%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

.dsgw-n-scoreboard .dsgw-c-score {
	display: flex;
	align-items: center;
	gap: 10px;
}

.dsgw-n-scoreboard .dsgw-c-status {
	font-size: 14px;
	font-weight: bold;
	line-height: 28px;
	display: flex;
	align-items: center;
	position: relative;
}

.dsgw-n-scoreboard .dsgw-c-score {
	font-size: 45px;
	font-weight: bold;
	line-height: 45px;
}

.dsgw-n-scoreboard .dsgw-c-score.dsgw-c-s-fixture {
	font-size: 16px;
	;
	font-weight: normal;
	line-height: 45px;
}

.dsgw-n-scoreboard .dsgw-c-score>div:nth-child(2) {
	background: linear-gradient(90deg, #0070F0 -192.5%, #01F4F5 111.11%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.dsgw-n-scoreboard .dsgw-live-circle {
	width: 9px;
	height: 9px;
	background-color: red;
	border-radius: 10px;
}

.dsgw-n-scoreboard .dsgw-c-status.dsgw-c-s-live {
	padding-left: 15px;
}

.dsgw-n-scoreboard .dsgw-c-status.dsgw-c-s-live:before {
	content: '';
	width: 9px;
	height: 9px;
	background-color: red;
	border-radius: 10px;
	position: absolute;
	left: 0;
}

.dsgw-n-scoreboard .dsgw-c-periods .dsgw-c-mh {
	margin: 5px 0 10px;
}

.dsgw-n-scoreboard .dsgw-c-periods .dsgw-c-m-h,
.dsgw-n-scoreboard .dsgw-c-periods .dsgw-c-m-r {
	grid-auto-columns: minmax(30px, 1fr);
	display: grid;
	grid-auto-flow: column;
	justify-items: center;
	align-items: center;
}

.dsgw-n-scoreboard .dsgw-c-periods .dsgw-c-m-h {
	font-weight: bold;
	font-size: 12px;
	height: 20px;
}

.dsgw-n-scoreboard .dsgw-c-periods .dsgw-c-m-r {
	font-size: 13px;
	height: 30px;
}

.dsgw-n-scoreboard .dsgw-c-periods>div:nth-child(3) {
	border-bottom: 1px solid #eeee;
}

.dsgw-n-scoreboard .dsgw-c-periods .dsgw-c-m-r img {
	width: 25px;
}

.dsgw-n-scoreboard .dsgw-c-periods .dsgw-c-m-r>div:first-child {
	display: flex;
	align-items: center;
	justify-content: center;
}

.dsgw-n-scoreboard .dsgw-c-periods .dsgw-c-m-r>div:last-child {
	/*font-weight: bold;*/
}

.dsgw-n-scoreboard .dsgw-c-scores {
	transition-duration: 2s;
}

.dsgw-n-scoreboard .dsgw-c-periods {
	transition-duration: 2s;
}

.dsgw-n-scoreboard .dsgw-c-mid {
	justify-content: unset;
	position: relative;
	overflow: hidden;
}

.dsgw-n-scoreboard .dsgw-c-scores {
	display: inline-grid !important;
	position: absolute;
	background-color: white;
	left: 0;
	width: 100%;
	height: 100%;
}

.dsgw-n-scoreboard .dsgw-c-periods {
	position: absolute;
	background-color: white;
	width: 100%;
	height: 100%;
	left: 100%;
}

.dsgw-n-scoreboard .dsgw-c-mid.dsgw-c-s-final .dsgw-c-scores {
	display: none;
}

.dsgw-n-scoreboard .dsgw-c-mid.dsgw-c-s-final .dsgw-c-periods {
	left: 0;
}

.dsgw-n-scoreboard .dsgw-c-mid.dsgw-c-s-fixture .dsgw-c-scores {
	align-content: center;
}

.dsgw-n-scoreboard .dsgw-c-mid.dsgw-c-s-fixture .dsgw-c-scores>div {
	line-height: 30px;
}

.dsgw-n-scoreboard.dsgw-mb .dsgw-c-content {
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "mid mid" "away home";
	row-gap: 20px;
}

.dsgw-n-scoreboard.dsgw-mb .dsgw-c-mid {
	height: 150px;
}

.dsgw-n-scoreboard.dsgw-mb .dsgw-c-wrapper {
	grid-template-columns: 1fr;
	gap: 5px;
}

.dsgw-n-scoreboard.dsgw-mb .dsgw-c-home .dsgw-c-wrapper {
	justify-items: end;
}

.dsgw-n-scoreboard.dsgw-mb .dsgw-c-t-img {
	width: min(30vw, 130px);
	order: 1;
}

.dsgw-n-scoreboard.dsgw-mb .dsgw-c-t {
	order: 2;
}

.dsgw-n-scoreboard.dsgw-mb .dsgw-c-t-l,
.dsgw-n-scoreboard.dsgw-mb .dsgw-c-t-n {
	font-size: min(6vw, 19px);
	line-height: 20px;
}