.dsgw-n-sessions .dsgw-c-content {
  font-family: "Montserrat";
  background: #FFF;
  max-width: 1440px;
  margin: auto;
  padding: 20px;

  .dsgw-name,
  .dsgw-info {
    font-size: 18px;
  }

  .dsgw-team {
    color: #737373;
  }
}

.dsgw-n-sessions .dsgw-c-season-title {
  font-size: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dsgw-n-sessions .dsgw-c-season-title:after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  border-style: solid;
  border-image: linear-gradient(90deg, #0070F0 -12.5%, #01F4F5 111.11%) 1;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  margin-left: 10px;
}

.dsgw-n-sessions .dsgw-c-season-summary {
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-auto-columns: minmax(50px, 1fr);
  margin-top: 50px;
  border-block: 1px solid #eee;
}

.dsgw-n-sessions .dsgw-c-season-summary .dsgw-c-season-summary-awards {
  display: flex;
  padding: 40px;
  border-right: 1px solid #eee;
  align-items: center;
}

.dsgw-n-sessions .dsgw-c-season-summary .dsgw-c-season-summary-awards .dsgw-country {
  width: 130px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 100px;
  margin-right: 20px;
}

.dsgw-n-sessions .dsgw-c-season-summary .dsgw-c-season-summary-awards .dsgw-c-season-summary-content > div {
  margin-bottom: 10px;
}

.dsgw-n-sessions .dsgw-c-season-summary .dsgw-c-season-summary-awards .dsgw-c-season-summary-content .dsgw-year {
  background: -webkit-linear-gradient(#0070F0, #01F4F5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.dsgw-n-sessions .dsgw-c-season-summary .dsgw-c-season-summary-awards .dsgw-c-season-summary-content .dsgw-name strong {
  font-size: 40px;
  line-height: 40px;
}

.dsgw-n-sessions .dsgw-c-season-summary .dsgw-c-season-summary-awards .dsgw-c-season-summary-content .dsgw-name {
  font-family: "RobotoSlab";
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  font-weight: 300;
}

.dsgw-n-sessions .dsgw-c-season-summary .dsgw-c-season-summary-awards .dsgw-c-season-summary-content .dsgw-name strong {
  font-weight: 900;
  display: block;
}

.dsgw-n-sessions .dsgw-c-season-summary .dsgw-c-season-summary-awards .dsgw-c-season-summary-content .dsgw-date {
  color: #737373;
}

.dsgw-n-sessions .dsgw-c-season-summary .dsgw-c-season-summary-info {
  padding: 20px;
}

.dsgw-n-sessions .dsgw-c-season-summary .dsgw-c-season-summary-info > div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.dsgw-n-sessions .dsgw-c-season-summary .dsgw-c-season-summary-info > div .dsgw-title {
  color: #737373;
  margin-right: 10px;
}

.dsgw-n-sessions .dsgw-c-season-summary .dsgw-c-season-summary-info > div .dsgw-track {
  width: 30px;
  margin-left: 10px;
}

.dsgw-n-sessions .dsgw-c-season-summary .dsgw-c-season-summary-info .dsgw-c-season-top-player {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.dsgw-n-sessions .dsgw-c-season-summary .dsgw-c-season-summary-info .dsgw-c-season-top-player > div {
  display: flex;
  align-items: center;
}

.dsgw-n-sessions .dsgw-c-season-summary .dsgw-c-season-summary-info .dsgw-c-season-top-player .dsgw-position,
.dsgw-n-sessions .dsgw-c-table-race .dsgw-c-table-race-b .dsgw-c-table-race-r .dsgw-position {
  width: 2.125rem;
  color: white;
  height: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-weight: bold;
}

.dsgw-n-sessions .dsgw-c-season-summary .dsgw-c-season-summary-info .dsgw-c-season-top-player .dsgw-position {
  height: 40px;
}

.dsgw-n-sessions .dsgw-c-season-summary .dsgw-c-season-summary-info .dsgw-c-season-top-player .player-info .dsgw-team {
  margin-top: 5px;
  color: #737373;
}

.dsgw-n-sessions .dsgw-c-table-title {
  color: #bfbfbf;
  text-transform: uppercase;
  font-size: 30px;
  padding: 30px 0;
}

.dsgw-n-sessions .dsgw-c-table-race-group {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 30px;
}

.dsgw-box-shadow {
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}

.dsgw-n-sessions .dsgw-c-table-race {
  width: 100%;
  overflow-x: auto;
}

.dsgw-n-sessions .dsgw-c-table-race-group .dsgw-toggle {
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dsgw-n-sessions .dsgw-c-table-race-group .dsgw-toggle span {
  writing-mode: tb;
  display: flex;
  align-items: center;
}

.dsgw-n-sessions .dsgw-c-table-race-group .dsgw-toggle span:before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  border-style: solid;
  border-image: linear-gradient(90deg, #0070F0 -12.5%, #01F4F5 111.11%) 1;
  border-width: 0 2px 2px 0;
  margin-bottom: 10px;
}

.dsgw-n-sessions .dsgw-c-table-race-group .dsgw-advanced span:before {
  transform: rotate(-45deg);
}

.dsgw-n-sessions .dsgw-c-table-race-group .dsgw-basic span:before {
  transform: rotate(135deg);
}

.dsgw-n-sessions .dsgw-c-table-race .dsgw-c-table-race-h,
.dsgw-n-sessions .dsgw-c-table-race .dsgw-c-table-race-b {
  display: grid;
  grid-template-columns: 60px 60px 250px 200px 1fr;
  grid-auto-columns: minmax(50px, 1fr);
  grid-auto-flow: column;
  height: 50px;
  min-width: 900px;
}

.dsgw-n-sessions .dsgw-c-table-race .dsgw-c-table-race-h {
  font-weight: bold;
  font-size: 12px;
}

.dsgw-n-sessions .dsgw-c-table-race .dsgw-c-table-race-h > div {
  display: flex;
  align-items: center;
  color: #000;
}

.dsgw-n-sessions .dsgw-c-table-race .dsgw-c-table-race-b {
  border-bottom: 1px solid #eee;
}

.dsgw-n-sessions .dsgw-c-table-race .dsgw-c-table-race-b .dsgw-c-table-race-r {
  display: flex;
  align-items: center;
}

.dsgw-n-sessions .dsgw-c-table-race .dsgw-c-table-race-h > div:first-child {
  justify-content: center;
}

.dsgw-n-sessions .dsgw-c-table-race .dsgw-c-table-race-h > div:nth-child(3) {
  margin-left: 40px;
}

.dsgw-n-sessions .dsgw-c-table-race .dsgw-c-table-race-b .dsgw-c-table-race-r:first-child {
  justify-content: center;
}

.dsgw-n-sessions .dsgw-c-table-race .dsgw-c-table-race-b .dsgw-c-table-race-r img.dsgw-country {
  width: 30px;
  margin-right: 10px;
  border-radius: 50px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.dsgw-n-sessions .dsgw-c-table-race .dsgw-c-table-race-b .dsgw-c-table-race-r .dsgw-position.dsgw-common {
  background: -webkit-linear-gradient(#0070F0, #01F4F5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.dsgw-n-sessions .dsgw-c-table-race .dsgw-c-table-race-b .dsgw-c-table-race-r .dsgw-position-1,
.dsgw-n-sessions .dsgw-c-season-summary .dsgw-c-season-summary-info .dsgw-c-season-top-player .dsgw-position.dsgw-position-1 {
  background-color: #fac300;
}

.dsgw-n-sessions .dsgw-c-table-race .dsgw-c-table-race-b .dsgw-c-table-race-r .dsgw-position-2,
.dsgw-n-sessions .dsgw-c-season-summary .dsgw-c-season-summary-info .dsgw-c-season-top-player .dsgw-position.dsgw-position-2 {
  background-color: #b3b3b3;
}

.dsgw-n-sessions .dsgw-c-table-race .dsgw-c-table-race-b .dsgw-c-table-race-r .dsgw-position-3,
.dsgw-n-sessions .dsgw-c-season-summary .dsgw-c-season-summary-info .dsgw-c-season-top-player .dsgw-position.dsgw-position-3 {
  background-color: #ec7100;
}

.dsgw-n-sessions .dsgw-c-table-race .dsgw-c-table-race-h .dsgw-basic-attribute,
.dsgw-n-sessions .dsgw-c-table-race .dsgw-c-table-race-b .dsgw-basic-attribute {
  display: none;
}

.dsgw-n-sessions .dsgw-c-table-expand {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 20px;
}

.dsgw-n-sessions .dsgw-c-table-expand span {
  text-decoration: underline;
}

.dsgw-n-sessions .dsgw-c-table-expand img {
  width: 10px;
  margin-left: 10px;
}

.dsgw-n-sessions .dsgw-c-table-race .dsgw-expand-row {
  display: none;
}

.dsgw-n-sessions.dsgw-lg .dsgw-c-table-race .dsgw-c-table-race-h,
.dsgw-n-sessions.dsgw-lg .dsgw-c-table-race .dsgw-c-table-race-b {
  grid-template-columns: 60px 30px 200px 200px 40px 1fr;
}

.dsgw-n-sessions.dsgw-lg .dsgw-c-season-summary .dsgw-c-season-summary-awards,
.dsgw-n-sessions.dsgw-lg .dsgw-c-season-summary .dsgw-c-season-summary-info {
  padding: 10px;
}

.dsgw-n-sessions.dsgw-lg .dsgw-c-season-summary .dsgw-c-season-summary-awards .dsgw-c-season-summary-content .dsgw-name strong {
  font-size: 28px;
  line-height: 28px;
}

.dsgw-n-sessions.dsgw-lg .dsgw-c-season-summary .dsgw-c-season-summary-awards .dsgw-c-season-summary-content .dsgw-name {
  font-size: 24px;
  line-height: 24px;
}

.dsgw-n-sessions.dsgw-mb .dsgw-c-season-summary {
  grid-template-columns: 1fr;
}

.dsgw-n-sessions.dsgw-mb .dsgw-c-season-summary .dsgw-c-season-summary-awards {
  border-right: none;
  border-bottom: 1px solid #eee;;
}

.dsgw-n-sessions.dsgw-mb .dsgw-c-season-summary .dsgw-c-season-summary-awards,
.dsgw-n-sessions.dsgw-mb .dsgw-c-season-summary .dsgw-c-season-summary-info {
  padding: 20px;
}

.dsgw-n-sessions.dsgw-mb .dsgw-c-table-title {
  font-size: 25px;
  font-weight: unset;
  padding: 20px 0;
}

.dsgw-n-sessions.dsgw-mb-400 .dsgw-c-season-summary .dsgw-c-season-summary-info .dsgw-c-season-top-player {
  grid-template-columns: 1fr;
  row-gap: 15px;
}
.dsgw-n-sessions.dsgw-mb-400 .dsgw-c-season-summary .dsgw-c-season-summary-awards,
.dsgw-n-sessions.dsgw-mb-400 .dsgw-c-season-summary .dsgw-c-season-summary-info {
  padding: 20px 0;
}

.dsgw-n-sessions.dsgw-mb-400 .dsgw-c-season-summary .dsgw-c-season-summary-awards .dsgw-country {
  width: 100px;
  margin-right: 20px;
}