.dsgw-n-standings.dsgw-widget * {
	font-family: 'Montserrat';
	box-sizing: border-box;
}

.dsgw-n-standings .dsgw-c-content {
	padding: 30px;
}

.dsgw-n-standings.dsgw-widget {
	background-color: white;
}

.dsgw-n-standings .dsgw-c-nav {
	width: 100%;
	height: 50px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	display: grid;
	/* grid-template-columns: repeat(3, 1fr); */
	grid-auto-columns: 1fr;
	grid-auto-flow: column;
	font-size: 16px;
}

.dsgw-n-standings .dsgw-c-nav>div {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 3px solid transparent;
	cursor: pointer;
}

.dsgw-n-standings .dsgw-c-nav>div.dsgw-c-selected {
	border-image: linear-gradient(90deg, #0070F0 -12.5%, #01F4F5 111.11%) 1;
}

.dsgw-n-standings .dsgw-c-group {}

.dsgw-n-standings .dsgw-c-group h2 {
	color: #BFBFBF;
	font-size: 25px;
	font-weight: 300;
}

.dsgw-n-standings .dsgw-c-table {
	display: grid;
	grid-template-columns: 250px 1fr;
	background: #FFF;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
}

.dsgw-n-standings.dsgw-mb .dsgw-c-table {
	grid-template-columns: 170px 1fr;
}

.dsgw-n-standings .dsgw-c-table-h {
	font-weight: bold;
	font-size: 13px;
}

.dsgw-n-standings .dsgw-c-table-r {
	font-size: 14px;
}

.dsgw-n-standings.dsgw-mb .dsgw-c-table-h {
	font-size: 11px;
}

.dsgw-n-standings.dsgw-mb .dsgw-c-table-r {
	font-size: 13px;
}

.dsgw-n-standings .dsgw-c-table-h,
.dsgw-n-standings .dsgw-c-table-r {
	height: 50px;
	align-items: center;
	border-bottom: 1px solid #eee;
}

.dsgw-n-standings .dsgw-c-table-c1 .dsgw-c-table-h,
.dsgw-n-standings .dsgw-c-table-c1 .dsgw-c-table-r {
	display: grid;
	grid-template-columns: 40px 1fr;
}

.dsgw-n-standings .dsgw-c-table-c2 {
	overflow: hidden;
}

.dsgw-n-standings .dsgw-c-table-c2 .dsgw-c-table-h,
.dsgw-n-standings .dsgw-c-table-c2 .dsgw-c-table-r {
	/*grid-auto-columns: minmax(0, 1fr);*/
	grid-auto-columns: minmax(50px, 1fr);
	display: grid;
	grid-auto-flow: column;
	justify-items: center;
}

.dsgw-n-standings .dsgw-c-t-r1 {
	text-align: center;
}

.dsgw-n-standings .dsgw-c-table-r .dsgw-c-t-r1 {
	font-size: 20px;
	background: -webkit-linear-gradient(#0070F0, #01F4F5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.dsgw-n-standings .dsgw-c-t-r2 {
	display: flex;
	align-items: center;
	gap: 10px;
}

.dsgw-n-standings .dsgw-c-results>div {
	display: none;
}

.dsgw-n-standings .dsgw-c-results>div.dsgw-c-active {
	display: block;
}