.dsgw-n-team-stats_summary.dsgw-widget * {
	font-family: 'Montserrat';
	box-sizing: border-box;
}

.dsgw-n-team-stats_summary .dsgw-c-content {
	background: #FFF;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
	grid-template-columns: 1fr 1fr 1fr;
	display: grid;
}

.dsgw-n-team-stats_summary.dsgw-widget {
	background-color: white;
}

.dsgw-n-team-stats_summary .dsgw-c-stat {
	padding: 12px 20px;
	display: grid;
	grid-template-columns: 1fr min-content;
	align-items: center;
	padding-top: 5px;
}

.dsgw-n-team-stats_summary .dsgw-c-stat:not(:nth-child(3n)) {
	border-right: 1px solid #eee;
}

.dsgw-n-team-stats_summary .dsgw-c-stat:nth-child(-n + 3) {
	border-bottom: 1px solid #eee;
}

.dsgw-n-team-stats_summary .dsgw-c-name {
	font-weight: bold;
	font-size: 11px;
	height: 28px;
	display: flex;
	align-items: flex-end;
}

.dsgw-n-team-stats_summary .dsgw-c-value {
	font-weight: bold;
	font-size: 28px;
	line-height: 40px;
}

.dsgw-n-team-stats_summary .dsgw-c-pos {
	background: linear-gradient(90deg, #0070F0, #01F4F5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 13px;
	font-weight: bold;
}

.dsgw-n-team-stats_summary.dsgw-mb-400 .dsgw-c-name {
	height: auto;
	display: block;
}

.dsgw-n-team-stats_summary.dsgw-mb-400 .dsgw-c-content {
	grid-template-columns: 1fr;
}

.dsgw-n-team-stats_summary.dsgw-mb-400 .dsgw-c-stat {
	border-right: none;
	padding-top: 12px;
}

.dsgw-n-team-stats_summary.dsgw-mb-400 .dsgw-c-stat:nth-child(-n + 5) {
	border-bottom: 1px solid #eee;
}