.dsgw-n-team-header.dsgw-widget * {
	font-family: 'Montserrat';
	box-sizing: border-box;
}

.dsgw-n-team-header .dsgw-c-content {
	background: #FFF;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
	padding: 10px;
	font-size: 16px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.dsgw-n-team-header .dsgw-c-info {
	display: grid;
	position: relative;
	grid-template-columns: 170px 1fr;
	border-right: 1px solid #eee;
	padding-right: 10px;
}

.dsgw-n-team-header .dsgw-c-color {
	position: absolute;
	width: 3px;
	height: 100%;
	left: 0;
	top: 0;
}

.dsgw-n-team-header .dsgw-c-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.dsgw-n-team-header .dsgw-c-logo img {
	width: 100%;
	max-width: 150px;
	max-height: 100%;
}

.dsgw-n-team-header .dsgw-c-details {
	display: grid;
	align-items: center;
	align-content: center;
	padding-left: 15px;

}

.dsgw-n-team-header .dsgw-c-extra {
	display: grid;
	align-items: center;
	align-content: center;
	padding-left: 10px;
}

.dsgw-n-team-header .dsgw-c-d-1 {
	background: linear-gradient(90deg, #0070F0, #01F4F5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;
	font-weight: bold;
	font-size: 18px;
}

.dsgw-n-team-header .dsgw-c-d-2 {
	font-size: 28px;
	font-weight: bold;
}

.dsgw-n-team-header .dsgw-c-d-3 {
	font-size: 28px;
}

.dsgw-n-team-header .dsgw-c-d-4 {
	color: #737373;
	font-size: 16px;
}

.dsgw-n-team-header .dsgw-c-e-1,
.dsgw-n-team-header .dsgw-c-e-2 {
	margin-bottom: 10px;
}

.dsgw-n-team-header .dsgw-c-e-1 span,
.dsgw-n-team-header .dsgw-c-e-2 span {
	color: #737373;
}

.dsgw-n-team-header .dsgw-c-e-3 {
	background: linear-gradient(90deg, #0070F0, #01F4F5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;
	margin-top: 10px;
	margin-bottom: 20px;
}

.dsgw-n-team-header .dsgw-c-e-4 {
	display: flex;
	gap: 10px;
}

.dsgw-n-team-header.dsgw-mb .dsgw-c-content {
	grid-template-columns: 1fr;
}

.dsgw-n-team-header.dsgw-mb .dsgw-c-info {
	border-bottom: 1px solid #eee;
	border-right: none;
}

.dsgw-n-team-header.dsgw-mb .dsgw-c-color {
	height: calc(100% - 20px);
}

.dsgw-n-team-header.dsgw-mb .dsgw-c-extra {
	padding-top: 20px;
}

.dsgw-n-team-header.dsgw-mb-400 .dsgw-c-d-1 {
	font-size: 14px;
}

.dsgw-n-team-header.dsgw-mb-400 .dsgw-c-d-2,
.dsgw-n-team-header.dsgw-mb-400 .dsgw-c-d-3 {
	font-size: 24px;
}

.dsgw-n-team-header.dsgw-mb-400 .dsgw-c-info {
	grid-template-columns: 1fr 1fr;
}