.dsgw-n-top-players.dsgw-widget * {
	font-family: 'Montserrat';
	box-sizing: border-box;
}

.dsgw-n-top-players .dsgw-c-ranking-type {
	/*padding: 30px;*/
	display: none;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	gap: 10px;
	width: 100%;
	align-items: end;
	justify-items: center;
}

.dsgw-n-top-players .dsgw-c-ranking-type.dsgw-c-active {
	display: grid;
}

.dsgw-n-top-players.dsgw-widget {
	background-color: white;
}

.dsgw-n-top-players .dsgw-c-group {
	max-width: 500px;
	width: 100%;
}

.dsgw-n-top-players .dsgw-c-group h2 {
	color: #BFBFBF;
	font-size: 25px;
	font-weight: 300;
	margin: 20px 0;
	text-transform: uppercase;
}

.dsgw-n-top-players .dsgw-c-ranking {
	background: #FFF;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
}

.dsgw-n-top-players .dsgw-c-table-h {
	font-weight: bold;
	font-size: 13px;
}

.dsgw-n-top-players .dsgw-c-table-r {
	font-size: 14px;
}

.dsgw-n-top-players .dsgw-c-table-h,
.dsgw-n-top-players .dsgw-c-table-r {
	display: grid;
	grid-template-columns: 40px 1fr 100px;
	height: 50px;
	align-items: center;
	border-bottom: 1px solid #eee;
	padding-left: 10px;
	position: relative;
}

.dsgw-n-top-players .dsgw-c-table-r .dsgw-c-table-r-c1 {
	font-size: 20px;
	background: -webkit-linear-gradient(#0070F0, #01F4F5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 600;
}

.dsgw-n-top-players .dsgw-c-table-r-c2 {
	display: flex;
	align-items: center;
	gap: 10px;
}

.dsgw-n-top-players .dsgw-c-table-r-c2 img {
	width: 30px;
}

.dsgw-n-top-players .dsgw-c-table-r-c1,
.dsgw-n-top-players .dsgw-c-table-r-c3 {
	text-align: center;
}

.dsgw-n-top-players .dsg-c-table-tc {
	width: 3px;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	background-color: transparent;
}

.dsgw-n-top-players .dsgw-c-ranking>div:nth-child(2) .dsg-c-table-tc {
	background-color: #028E98;
}

.dsgw-n-top-players .dsgw-c-ranking>div:nth-child(3) .dsg-c-table-tc {
	background-color: #005596;
}

.dsgw-n-top-players .dsgw-c-ranking>div:nth-child(4) .dsg-c-table-tc {
	background-color: #0F5541;
}

.dsgw-n-top-players .dsgw-c-ranking>div:nth-child(5) .dsg-c-table-tc,
.dsgw-n-top-players .dsgw-c-ranking>div:nth-child(6) .dsg-c-table-tc {
	background-color: #1C335E;
}

.dsgw-n-top-players.dsgw-mb .dsgw-c-content {
	padding: 10px;
	grid-template-columns: 1fr;
}

.dsgw-n-top-players.dsgw-mb .dsgw-c-group {
	max-width: unset;
}

.dsgw-n-top-players.dsgw-mb .dsgw-c-table-h,
.dsgw-n-top-players.dsgw-mb .dsgw-c-table-r {
	grid-template-columns: 40px 1fr 65px;
}

.dsgw-n-top-players.dsgw-mb .dsgw-c-table-h {
	font-size: 10px;
}

.dsgw-n-top-players.dsgw-mb .dsgw-c-table-r {
	font-size: 13px;
}

.dsgw-n-top-players.dsgw-mb .dsgw-c-table-r-c2 img {
	width: 24px;
}

.dsgw-n-top-players.dsgw-mb .dsgw-c-table-r .dsgw-c-table-r-c1 {
	font-size: 13px;
}

.dsgw-n-top-players.dsgw-mb .dsgw-c-group h2 {
	font-size: 22px;
}

.dsgw-n-top-players .dsgw-c-types {
	display: grid;
	justify-items: center;
}

.dsgw-n-top-players .dsgw-c-select {
	position: relative;
}

.dsgw-n-top-players .dsgw-c-label {
	color: #bfbfbf;
	font-size: 20px;
	text-transform: uppercase;
}

.dsgw-n-top-players .dsgw-c-select-label {
	border: 1px solid #eee;
	font-size: 16px;
	cursor: pointer;
	width: 191px;
	height: 40px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.dsgw-n-top-players .dsgw-c-select-label img {
	width: 15px;
}

.dsgw-n-top-players .dsgw-c-options {
	display: none;
	position: absolute;
	top: 100%;
	background-color: white;
	z-index: 2;
	width: 100%;
	font-size: 13px;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.dsgw-n-top-players .dsgw-c-options>div {
	line-height: 32px;
	text-align: center;
	cursor: pointer;
}

.dsgw-n-top-players.dsgw-mb .dsgw-c-ranking-type {
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}